@import url('https://fonts.googleapis.com/css?family=Nunito:400,700')

*
  padding: 0
  margin: 0
  box-sizing: border-box

body
  font-family: 'Nunito', sans-serif
  line-height: 1.5
  font-size: 16px
  background: url('../../assets/images/Services.png') fixed

a
  text-decoration: none
  color: #bf202f
  cursor: pointer
  font-weight: bold

ul
  list-style: none

h6
  font-size: 1rem

.Hero__Content
  background: #fff
  border-radius: 5px
  padding: 10px
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.5)

.container
  padding-right: 15px
  padding-left: 15px
  margin-right: auto
  margin-left: auto
  background: #fff

@media (min-width:768px)
  .container
    width: 750px

@media (min-width:992px)
  .container
    width: 970px

@media (min-width:1200px)
  .container
    width: 1170px
